<!Doctype html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="about.html">About Me</a></li>
    </ul>

    <p>This is the homepage for my website!</p>
    <p>
            Nullam scelerisque posuere nisi a tincidunt. Aenean a commodo mauris. Vivamus sagittis laoreet blandit. Proin accumsan, felis non hendrerit sollicitudin, nisi elit ornare nulla, 
            ut suscipit velit ipsum tristique nibh. Pellentesque interdum ac urna venenatis consequat. Suspendisse ac varius lectus. Aliquam scelerisque bibendum sapien id aliquet. 
            Etiam viverra tortor turpis, et iaculis sapien efficitur id. Curabitur tristique metus ut sem porttitor porta. Vestibulum arcu elit, vestibulum sed fermentum venenatis, 
            faucibus vitae justo. Suspendisse finibus lectus a magna feugiat fermentum. Aenean consectetur libero ut arcu ullamcorper bibendum. Integer mattis tellus non bibendum tincidunt. 
            Phasellus mollis sem id vestibulum lobortis.
            Suspendisse porta dictum lectus, at iaculis nulla pulvinar et. Nullam euismod dolor eu dui consectetur, at scelerisque augue feugiat. 
    </p>
    <p>
            Donec fringilla tristique nisl sit amet pulvinar. Sed maximus orci nec sagittis venenatis. Maecenas sit amet urna nec odio convallis pulvinar sed in urna. Quisque quis dui quis elit sodales commodo. 
            Curabitur ut arcu in lacus accumsan consequat. Maecenas aliquet nunc elit, eget rutrum eros sollicitudin nec. Nullam auctor turpis et neque rutrum, id commodo ligula vestibulum. Donec commodo facilisis 
            odio quis sagittis. Cras pharetra gravida cursus. 
            In efficitur odio ut orci faucibus, sed condimentum nunc bibendum. Morbi vitae nulla quam. Curabitur lacinia et purus vel tempor. Quisque accumsan vulputate elit a maximus. 
    </p>
</body>
</html>