html{
    background-color: #005b95;
    margin: 0;
    height: 100%;
}

h1{
    margin: 0;
    padding: 10px;
}

body{
    padding: 0;
    margin: 0;
    width: 80%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

p{
    padding: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b3cde0;
    text-align: center;
}

li{
    display: inline;
}

li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:  #6497b1;
}